<section class="vh-100 " style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-1 col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 20px;">
          <div (click)="onBack()">
            <fa-icon class="fs-4 ms-2" [icon]="faArrowLeft"></fa-icon>
          </div>
          <div class="container-fluid text-center bg-light d-flex justify-content-end d-flex align-items-center"
            style="height: 300px;">
            <img [src]="userData.user_Background_photo" alt="background" style="height: 300px; width: 100%;">
            <div>
            </div>
            <div> <img class=" border border-5 border-light bg-light" [src]="userData.user_Profile_photo" alt="Profile"
                style="height: 180px ; width:180px; position: absolute; right: 50px; top:250px; border-radius: 100%;"></div>
          </div>
          <div class="card-body p-md-5">
            <div class="row justify-content-start">
              <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1" style="padding-top: 60px;">

                <p class="text-start h2 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.firstName +"
                  "+userData.lastName}}</p>
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.user_Headline}}</p>
                <br>
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">
                  {{userData.user_Current_position}}</p>
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.User_Industry}}</p>
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.User_Education}}</p>
                <p class="text-start h4 mb-1 mx-1 mx-md-4 mt-1 " style="color: rgb(95, 95, 95);" *ngIf="userData">
                  {{userData.user_Location}}</p>
              </div>
              <ng-container *ngIf="status == 'accepted'">
                <div  class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1" style="padding-top: 60px; width:90%;margin-right: 0px;">
                  <div class="card " style="height: 8rem; width:100%;" *ngIf="userPost.length != 0">
                    <div class="card-body d-flex" >
                      <div>
                        <img [src]="userPost[userPost.length-1].photo_Url" class="card-img-start rounded-1" alt="Post" style="height: 6rem;width: 6rem;">
                      </div>
                      <div>
                        <p class="card-text  h5 mb-1 mx-1 mx-md-4 mt-1">{{userPost[userPost.length-1].content}}</p>
                      </div>
                      <div>
                        <p class="position-absolute bottom-0 end-0 px-2 h6" style="color:rgb(95, 95, 95);">created on : {{userPost[userPost.length-1].createdByDate|date:"dd-MMM"}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1 h5 d-flex align-items-center justify-content-center post" (click)="onShowAllPosts()">
                  <div>
                    See All Posts
                  </div>
                </div>
              </ng-container>
              <div *ngIf="status=='pending'">
                <button class="btn btn-secondary ms-4"(click)="onConnect()">Pending</button>
              </div>
              <div *ngIf="status=='None'">
                <button class="btn btn-primary ms-4"(click)="onConnect()">Connect</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
