<div class="container-fluid mx-0 posts">
  <div class="row">
    <div class="col col-md-12 d-flex justify-content-center">
      <div class="card mt-5 rounded-3" style="width: 35rem;">
        <div class="card-body">
          <div class="d-flex">
            <div class="row">
              <div class="col col-md-2">
                <img src="{{UserData.user_Profile_photo}}" alt="Profile"
                  style="height: 50px ; width:50px; border-radius: 100%;">

              </div>
              <div class="col col-md-10">
                <input class="border border-1 rounded-pill ms-3" type="text" name="searchTerm"
                  placeholder="   Start a post" aria-label="Searchbox" style="width:200%;height:50px;"
                  aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
          <div class="d-flex mt-2">
            <div type="button" class="ms-4 photo p-2 border border-0 rounded-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="file.click()">
              <input type="file" class="hide" accept="image/*" #file (change)="onChange($event)">
              <fa-icon class="fs-5" [icon]="faImage" style="color: rgb(69, 130, 221);"></fa-icon>
              <span class=" ms-2" style="color: rgb(89, 90, 90);">Photo</span>
            </div>
            <div class="ms-4 photo p-2 border border-0 rounded-2">
              <fa-icon class="fs-5" [icon]="faYoutube" style="color: rgb(32, 177, 75);"></fa-icon>
              <span class="ms-2" style="color: rgb(89, 90, 90);">Video</span>
            </div>
            <div class="ms-4 photo p-2 border border-0 rounded-2">
              <fa-icon class="fs-5" [icon]="faCalendarWeek" style="color: rgb(202, 146, 26);"></fa-icon>
              <span class="ms-2" style="color: rgb(89, 90, 90);">Event</span>
            </div>
            <div class="ms-4 photo p-2 border border-0 rounded-2">
              <fa-icon class="fs-5" [icon]="faNewspaper" style="color: rgb(173, 26, 26);"></fa-icon>
              <span class="ms-2" style="color: rgb(89, 90, 90);">Write article</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-12 d-flex justify-content-center" *ngFor="let post of userPosts;let i = index">
      <div class="card mt-3 rounded-3" style="width: 35rem;">
        <div class="d-flex align-items-center">
          <div><img class="border border-secondary border-1 m-1" src="{{post.user_Profile_photo}}" alt="Profile"
              style="height: 50px; width: 50px; border-radius: 100%;"></div>
          <div>
            <p class="mx-2 my-1">{{post.firstName+" "+post.lastName}}</p>
          </div>
        </div>
        <img src="{{post.photo_Url}}" class="card-img-top" alt="posts" style="height: 30rem; width: 35rem;">
        <div class="card-body">
          <p class="card-text h5">{{post.content}}</p>
          <hr>
          <div class="d-flex justify-content-between">
            <p class="m-0 p-0" style="color: rgb(94, 96, 99);">{{post.likeCounts}} Likes</p>
            <p class="m-0 p-0" style="color: rgb(94, 96, 99);">0 comments</p>
          </div>
          <hr>
        </div>
        <div class="d-flex justify-content-around text-center">
          <div *ngIf="post.status.substring(0,8)=='notLiked'" (click)="onLike(post.post_Id,post.status)">
            <fa-icon class="fs-5" [icon]="faThumbsUp" style="color: rgb(14, 37, 139);"></fa-icon>
            <p class="fs-6">Like</p>
          </div>
          <div *ngIf="post.status.substring(0,5)=='Liked'" (click)="onLike(post.post_Id,post.status)">
            <fa-icon class="fa-solid fs-5" [icon]="SolidTU" style="color: rgb(45, 14, 224);"></fa-icon>
            <p class="fs-6">Like</p>
          </div>
          <div *ngIf="status2 == false">
            <fa-icon class="fs-5" [icon]="faComments" style="color: rgb(14, 37, 139);"></fa-icon>
            <p class="fs-6">Comment</p>
          </div>
          <div *ngIf="status2 == true">
            <fa-icon class="fs-5" [icon]="SolidC" style="color: rgb(14, 37, 139);"></fa-icon>
            <p class="fs-6">Comment</p>
          </div>
          <div>
            <fa-icon class="fs-5" [icon]="faRepeat" style="color: rgb(14, 37, 139);"></fa-icon>
            <p class="fs-6">Repost</p>
          </div>
          <div>
            <fa-icon class="fs-5" [icon]="faPaperPlane" style="color: rgb(14, 37, 139);"></fa-icon>
            <p class="fs-6">Send</p>
          </div>
        </div>
        <p class="card-text position-absolute bottom-0 end-0 mx-2" style="color:rgb(95, 95, 95);">ceated on :
          {{post.createdByDate|date:"dd-MMM"}}</p>
      </div>
    </div>
  </div>

  <!-- Modal -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center m-5 fs-5" style="color: rgb(36, 133, 189);" (click)="file.click()">
          Select Images To Share
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-pill border-primary text-primary cancle" data-bs-dismiss="modal">Cancle</button>
        <button type="button" class="btn rounded-pill done">Done</button>
      </div>
    </div>
  </div>
</div>
