<div class="container-fluid mx-0 posts">
  <div class="row">
    <div class="col col-md-12 d-flex justify-content-center" *ngFor="let post of userPosts;let i = index">
      <div class="card border border-0 mt-2" style="width: 35rem;">
        <div class="d-flex align-items-center">
          <div><img class="border border-secondary border-1 m-1" [src]="post.user_Profile_photo" alt="Profile" style="height: 50px; width: 50px; border-radius: 100%;"></div>
          <div><p class="mx-2 my-1">{{post.firstName+" "+post.lastName}}</p></div>
        </div>
        <img [src]="post.photo_Url" class="card-img-top" alt="posts" style="height: 30rem; width: 35rem;">
        <div class="card-body">
          <p class="card-text h5">{{post.content}}</p><hr>
          <div class="d-flex justify-content-between">
              <p class="m-0 p-0" style="color: rgb(94, 96, 99);">{{post.likeCounts}} Likes</p>
              <p  class="m-0 p-0" style="color: rgb(94, 96, 99);">0 comments</p>
          </div><hr>
          <div class="d-flex justify-content-around text-center mt-3">
            <div *ngIf="status1 == false" (click)="onLike(post.post_Id)">
              <fa-icon class="fs-5" [icon]="faThumbsUp" style="color: rgb(14, 37, 139);"></fa-icon><p class="fs-6">Like</p>
            </div>
            <div *ngIf="status1 == true" (click)="ondisLike()">
              <fa-icon class="fa-solid fs-5" [icon]="SolidTU" style="color: rgb(14, 37, 139);"></fa-icon><p class="fs-6">Like</p>
            </div>
            <div *ngIf="status2 == false">
              <fa-icon class="fs-5" [icon]="faComments" style="color: rgb(14, 37, 139);"></fa-icon><p class="fs-6">Comment</p>
            </div>
            <div *ngIf="status2 == true">
              <fa-icon class="fs-5" [icon]="SolidC" style="color: rgb(14, 37, 139);"></fa-icon><p class="fs-6">Comment</p>
            </div>
            <div>
              <fa-icon class="fs-5" [icon]="faRepeat" style="color: rgb(14, 37, 139);"></fa-icon><p class="fs-6">Repost</p>
            </div>
            <div>
              <fa-icon class="fs-5" [icon]="faPaperPlane" style="color: rgb(14, 37, 139);"></fa-icon><p class="fs-6">Send</p>
            </div>
          </div>
          <p class="card-text position-absolute bottom-0 end-0 mx-2" style="color:rgb(95, 95, 95);">ceated on : {{post.createdByDate|date:"dd-MMM"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
