<section class="vh-100 " style="background-color:#f3f2ef;">
  <div class="container h-100" style="background-color:#f3f2ef;">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-4; col-md-8 col-lg-6 col-xl-6" style="margin-top: 60px;">
        <div class="card mb-2 mt-1" style="max-width: 640px;">
          <div class="card-body mt-3">
            <!-- <h5 class="card-title"  (click)="onManageNet()">Manage Network</h5> -->
            <!-- <button type="button" class="card-title btn" style="color: rgb(72, 59, 185);" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <h5>Manage Network</h5></button> -->
            <button type="button" class="btn card-title" style="color: rgb(72, 59, 185);" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <h5>Manage Network</h5>
            </button>
          </div>
        </div>
        <ng-container *ngFor="let item of Invitations">
          <ng-container *ngIf="Invitations"></ng-container>
          <div *ngIf="item.status=='pending'" class="card" style="max-width: 640px;">
            <div class="row g-0" style="height: 9rem;">
              <div class="col-md-3 d-flex align-items-center">
                <img class="m-3 " [src]="item.user_Profile_photo" alt="profile"
                  style="height: 80px; width: 80px; border-radius: 100%;">
              </div>
              <div class="col-md-5">
                <div class="card-body">
                  <h5 class="card-title">{{item.firstName+" "+item.lastName}}</h5>
                  <p class="card-text">{{item.user_Headline}}</p>
                  <p class="card-text position-absolute bottom-0 mb-3"><small
                      class="text-muted">{{item.createdByDate|date:"dd-MMM"}}</small></p>
                </div>
              </div>
              <div class="col-md-2 text-center d-flex align-items-center">
                <div>
                  <fa-icon class="fs-1" [icon]="faCircleXmark" style="color: black;"
                    (click)="onReject(item.userConnection_Id)"></fa-icon>
                </div>
              </div>
              <div class="col-md-2 text-center d-flex align-items-center">
                <div>
                  <fa-icon class="fs-1" [icon]="faCircleCheck" style="color: rgb(67, 67, 214);"
                    (click)="onAccept(item.userConnection_Id)"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">My Network</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-dialog modal-dialog-scrollable">
          <ng-container *ngFor="let conn of MyConnections">
            <div class="card mt-1" style="width: 440px;height: 100px;" role="button" (click)="onViewProfile(conn.connection)">
              <div class="row g-0" style="height: 9rem;">
                <div class="col-md-5 d-flex align-items-center">
                  <img class="m-3 " [src]="conn.user_Profile_photo" alt="profile"
                    style="height: 80px; width: 80px; border-radius: 100%;">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">{{conn.firstName+" "+conn.lastName}}</h5>
                    <p class="card-text">{{conn.user_Headline}}</p>
                    <p class="card-text position-absolute bottom-0 mb-3"><small
                        class="text-muted">{{conn.createdByDate|date:"dd-MMM"}}</small></p>
                  </div>
                </div>
                <!-- <div class="col-md-2 text-center d-flex align-items-center">
                <div>
                  <fa-icon class="fs-1" [icon]="faCircleXmark" style="color: black;" (click)="onReject(item.userConnection_Id)"></fa-icon>
                </div>
              </div> -->
                <!-- <div class="col-md-2 text-center d-flex align-items-center">
                <div>
                  <fa-icon class="fs-1" [icon]="faCircleCheck" style="color: rgb(67, 67, 214);" (click)="onAccept(item.userConnection_Id)"></fa-icon>
                </div>
              </div> -->
              </div>
            </div>
          </ng-container>
          <div *ngIf="MyConnections.length == 0">
            <h4>You currently don't have any connections</h4>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

</section>
