.nav{
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,75,147,1) 35%, rgba(0,212,255,1) 100%); */
  position: fixed;
  top:0px;
  z-index: 3;
  background:rgb(255, 255, 255);
  height: 55px;
}
.post{
  background-color: rgb(221, 219, 219);
  width:10%;
  height: 100px;
  color:rgb(75, 74, 74);
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 10px;
}
.post:hover{
  transform: scale(1.2);

}
.fixedpost{
  position: absolute;
  top:90px;
  left: 10px;
  z-index: 2;
}
.fixedreq{
  position: absolute;
  top:210px;
  left: 10px;
  z-index: 2;
}
.fixedsearchresult{
  position: fixed;
  top:55px;
  left: 480px;
  z-index: 2;
}

.search:hover{
  transform: scale(1.2);
  margin-bottom: 7px;
  margin-top: 5px;
}
a.icon{
  color: #666666;
  text-decoration: none;
}
a.icon:hover{
  color:black;
}
div > a.active{
  color:black;
}

