<div class="container-fluid m-0 p-0">
  <div class="container-fluid nav d-flex justify-content-around d-flex align-items-center position-sticky top-0">
    <div>
      <a [routerLink]="['/profile']" > <img class="m-2 border border-2" [src]="userData.user_Profile_photo" alt="Profile" style="height: 60px ; width:60px; border-radius: 100%;border-color: aliceblue; background-color: aliceblue;"></a>
    </div>
    <div>
      <input class="form-control" type="text" name="searchTerm" placeholder="Search" aria-label="Searchbox" aria-describedby="basic-addon1"
      [(ngModel)]="searchTerm" (input)="search(searchTerm)">
    </div>
    <div>
     <a routerLink="/home/chat"><fa-icon class="fs-1 massage"  [icon]="faEnvelope"></fa-icon></a>
    </div>
  </div>
  <div style="background-color: #eee; height:100vh;overflow: auto">
    <div (click)="onAddPost()" class="d-flex align-items-center justify-content-center post fixedpost z-index-1">
      <div class="text-center">
       <fa-icon class="fs-5" [icon]="faPlus"></fa-icon><p>Add Post</p>
      </div>
    </div>
    <div (click)="onAddPost()" class="d-flex align-items-center justify-content-center post fixedreq  z-index-1">
      <div class="text-center">
       <fa-icon class="fs-5" [icon]="faUserGroup"></fa-icon><p>My Connections</p>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngFor="let x of userdata | searchFilter: searchTerm; index as i" >
      <ng-container *ngIf="x.firstName != ''">
        <ng-container *ngIf="searchTerm != ''">
          <div class="card search" style="width: 300px;" (click)="onSearch(x.user_ID)">
            <div class="card-body d-flex align-items-center">
                <img [src]="x.user_Profile_photo" alt="Image" style="height: 40px; width: 40px;border-radius: 100%;">
                <p class="mx-4 h6">{{x.firstName+" "+x.lastName}}</p>
            </div>
          </div>
        </ng-container>
    </ng-container>
    </div>
  </div>
   <router-outlet></router-outlet>
</div>


