<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 20px;">
          <!-- <div class="container-fluid d-flex justify-content-start d-flex align-items-center">
            <div> <img class=" border border-1" src="https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" style="height: 40px ; width:40px;margin-top: 10px;border-radius: 100%;"></div>
            <div>
              <h2 style="margin-top: 10px;margin-left: 10px;">Seetings</h2>
            </div>
          </div>
          <hr>

           <div class="ms-5"><p class="fs-4">Update Profile</p></div>
            <hr>
            <div class="m-4">
             <button class="btn btn-dark">Back</button>
            </div> -->
            <form *ngIf="userData">
              <div class="text-center mb-5">
                <label for="book">Update Book</label>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="userData.firstName">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="userData.lastName">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="user_Headline" class="form-label">Headline</label>
                    <input type="text" class="form-control" name="user_Headline" [(ngModel)]="userData.user_Headline">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="user_Current_position" class="form-label">Current_position</label>
                    <input type="text" class="form-control" name="user_Current_position" [(ngModel)]="userData.user_Current_position">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="user_Industry" class="form-label">Industry</label>
                    <input type="text" class="form-control" name="user_Industry" [(ngModel)]="userData.user_Industry">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="user_Education" class="form-label">Education</label>
                    <input type="text" class="form-control" name="user_Education"[(ngModel)]="userData.user_Education">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="Status" class="form-label">Status</label>
                    <input type="text" class="form-control" name="Status"[(ngModel)]="userData.status">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="Status" class="form-label">Status</label>
                    <input type="text" class="form-control" name="Status"[(ngModel)]="userData.status">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3">
                    <label for="Image" class="form-label">Image</label>
                    <input type="file" (change)="onselected($event)" class="form-control" name="Image" [(ngModel)]="userData.image">
                  </div>
                </div>
              </div>
              <div class="row offset-3">
                <div class="col col-md-6">
                  <div class="mb-3 text-center">
                    <div>
                      <button type="submit" class="btn btn-primary" (click)="onupdatebook()">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
