<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 20px;">
          <div class="container-fluid bg-primary d-flex justify-content-end d-flex align-items-center"
            style="height: 200px;">
            <div>
              <button class="btn" style="position: absolute;left:0px;top:0px; background-color: rgb(13, 122, 247);"
                (click)="onBack()">Back</button>
            </div>
            <div> <img class=" border border-5" [src]="userData.user_Profile_photo" alt="Profile"
                style="height: 180px ; width:180px;margin-top: 180px;margin-right: 60px; border-radius: 100%;"></div>
          </div>
          <div class="card-body p-md-5">
            <div class="row justify-content-start">
              <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1" style="padding-top: 60px;">

                <p class="text-start h2 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.firstName +"
                  "+userData.lastName}}</p>
                <!-- <input class="h1 fw-bold mb-1 mx-1 mx-md-4 mt-1" type="text" style="width: 50%;"> -->
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.user_Headline}}</p>
                <br>
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">
                  {{userData.user_Current_position}}</p>
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.User_Industry}}</p>
                <p class="text-start h4 fw-bold mb-1 mx-1 mx-md-4 mt-1" *ngIf="userData">{{userData.User_Education}}</p>
                <p class="text-start h4 mb-1 mx-1 mx-md-4 mt-1 " style="color: rgb(95, 95, 95);" *ngIf="userData">
                  {{userData.user_Location}}</p>

                <!-- <form  class="mx-1 mx-md-4" >
                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c" >Email/PhoneNumber</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c" >Password</label>
                    </div>
                  </div>
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg">Login</button>
                  </div>
                </form> -->
              </div>
              <div  class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1" style="padding-top: 60px; width:90%;margin-right: 0px;">
                <div class="card " style="height: 8rem; width:100%;">
                  <div class="card-body d-flex">
                    <div>
                      <img [src]="userPost[0].photo_Url" class="card-img-start rounded-1" alt="Post" style="height: 6rem;width: 6rem;">
                    </div>
                    <div>
                      <p class="card-text  h5 mb-1 mx-1 mx-md-4 mt-1">{{userPost[0].content}}</p>
                    </div>
                    <div>
                      <p class="position-absolute bottom-0 end-0 px-2 h6" style="color:rgb(95, 95, 95);">created on : {{userPost[0].createdByDate|date:"dd-MMM"}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-10 col-lg-10 col-xl-10 order-2 order-lg-1 h5 d-flex align-items-center justify-content-center post">
                <div (click)="onShowAllPosts()">
                  Show All Posts
                </div>
              </div>
              <!-- <div class="col-md-2 col-lg-2 col-xl-2 order-2 order-lg-1"style="padding-top: 60px;">
                <button class="btn btn-secondary" >edit</button>
              </div> -->
            </div>
            <hr>
            <div>
              <a class="h3" [routerLink]="['/Settings']" routerLinkActive="router-link-active">Settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
